services:
  mdrs:
    build:
      context: .
      dockerfile: ./mdrs/Dockerfile
    depends_on:
      - delfino-db
    ports:
      - "9090:9090"
    environment:
      - SERVER_PORT=9090
      - DB_HOST=delfino-db
      - DB_PORT=5432
      - DB_DATABASE=delfino
      - DB_USERNAME=root
      - DB_PASSWORD=delfino

  maplestory:
    build:
      context: .
      dockerfile: ./channel/Dockerfile
    depends_on:
      - delfino-db
      - mdrs
    ports:
      - "7575-7577:7575-7577"
    environment:
      - DB_HOST=delfino-db
      - DB_PORT=5432
      - DB_DATABASE=delfino
      - DB_USERNAME=root
      - DB_PASSWORD=delfino

  login:
    build:
      context: .
      dockerfile: ./login/Dockerfile
    depends_on:
      - delfino-db
      - delfino-cache
      - mdrs
    ports:
      - "8484:8484"
    environment:
      - SERVER_PORT=8484
      - DB_HOST=delfino-db
      - DB_PORT=5432
      - DB_DATABASE=delfino
      - DB_USERNAME=root
      - DB_PASSWORD=delfino
      - MDRS_HOST=mdrs
      - MDRS_PORT=9090
      - REDIS_HOST=delfino-cache
      - REDIS_PORT=6379

  delfino-db:
    image: postgres:latest
    container_name: delfino-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: delfino
      POSTGRES_DB: delfino
      PGDATA: /data/postgres
    ports:
      - "5432:5432"
    volumes:
      - delfino-db-volume:/data/postgres

  delfino-cache:
    image: valkey/valkey:latest
    container_name: delfino-cache
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  delfino-db-volume: