services:
  maplestory:
    build: .
    depends_on:
      - db
    ports:
      - "8484:8484"
      - "7575-7577:7575-7577"
    volumes:
      - ./config.yaml:/opt/server/config.yaml
      - ./scripts:/opt/server/scripts
      - ./wz:/opt/server/wz
    environment:
      DB_HOST: "db"
  db:
    image: mysql:8.4.0
    environment:
      MYSQL_DATABASE: "delfino"
      MYSQL_ROOT_PASSWORD: "delfino"
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
    ports:
      - "3306:3306"
    volumes:
      - ./database/docker-db-data:/var/lib/mysql
