services:
  maplestory:
    build: Dockerfile-maplestory
    depends_on:
      - delfino-db
    ports:
      - "8484:8484"
      - "7575-7577:7575-7577"
    volumes:
      - ./config.yaml:/opt/server/config.yaml
      - ./scripts:/opt/server/scripts
      - ./wz:/opt/server/wz
    environment:
      DB_HOST: "delfino-db"

  login:
    build: Dockerfile-login
    depends_on:
      - delfino-db
    ports:
      - "8484:8484"
      - "7575-7577:7575-7577"
    volumes:
      - ./config.yaml:/opt/server/config.yaml
    environment:
      DB_HOST: "delfino-db"

  delfino-db:
    image: postgres:latest
    container_name: delfino-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: delfino
      POSTGRES_DB: delfino
      PGDATA: /data/postgres
    ports:
      - "5432:5432"
    volumes:
      - delfino-db-volume:/data/postgres

volumes:
  delfino-db-volume: